N8N_WORKFLOW_TEMPLATE.json
{
  "meta": {
    "instanceId": "freelaw-sales-integration"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://SEU-DOMINIO.vercel.app/api/webhooks/n8n",
        "authentication": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meetingTitle\": \"{{ $json.meeting_title || 'Reunião de Discovery - ' + $now }}\",\n  \"sellerName\": \"{{ $json.seller_name || 'João Silva' }}\",\n  \"sellerEmail\": \"{{ $json.seller_email || 'joao@freelaw.com' }}\",\n  \"meetingDate\": \"{{ $json.meeting_date || $now }}\",\n  \"recordingUrl\": \"{{ $json.recording_url || 'https://example.com/recording/' + $runIndex }}\",\n  \"transcript\": {\n    \"rawText\": \"{{ $json.transcript_text || 'João Silva: Olá, tudo bem? Como posso ajudá-lo hoje?\\nCliente: Olá João, tudo ótimo! Estou interessado em entender melhor como vocês podem nos ajudar com nossa questão jurídica.\\nJoão Silva: Perfeito! Vamos começar entendendo um pouco mais sobre o seu negócio...' }}\",\n    \"language\": \"pt-BR\",\n    \"duration\": \"{{ $json.duration_seconds || 1800 }}\",\n    \"segments\": [\n      {\n        \"speaker\": \"{{ $json.seller_name || 'João Silva' }}\",\n        \"text\": \"Olá, tudo bem? Como posso ajudá-lo hoje?\",\n        \"start\": 0,\n        \"end\": 3.5,\n        \"confidence\": 0.95\n      },\n      {\n        \"speaker\": \"Cliente\",\n        \"text\": \"Olá João, tudo ótimo! Estou interessado em entender melhor como vocês podem nos ajudar.\",\n        \"start\": 4.0,\n        \"end\": 10.2,\n        \"confidence\": 0.92\n      }\n    ]\n  },\n  \"participants\": [\n    {\n      \"name\": \"{{ $json.seller_name || 'João Silva' }}\",\n      \"email\": \"{{ $json.seller_email || 'joao@freelaw.com' }}\",\n      \"role\": \"seller\"\n    },\n    {\n      \"name\": \"{{ $json.prospect_name || 'Cliente Potencial' }}\",\n      \"email\": \"{{ $json.prospect_email || 'cliente@empresa.com' }}\",\n      \"role\": \"prospect\"\n    }\n  ],\n  \"metadata\": {\n    \"source\": \"n8n\",\n    \"platform\": \"{{ $json.platform || 'zoom' }}\",\n    \"externalId\": \"{{ $json.external_id || 'n8n_test_' + $runIndex }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "http-request-freelaw",
      "name": "Send to FreelawSales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "freelaw-webhook-auth",
          "name": "FreelawSales Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "=✅ Reunião processada com sucesso!\n\n📋 **Detalhes:**\n- Meeting ID: {{ $('Send to FreelawSales').item.json.meetingId }}\n- Transcript ID: {{ $('Send to FreelawSales').item.json.transcriptId }}\n- Vendedor: {{ $('Send to FreelawSales').item.json.sellerName }}\n\n🔗 **Ver reunião:** https://seu-dominio.vercel.app/meetings/{{ $('Send to FreelawSales').item.json.meetingId }}"
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 200]
    },
    {
      "parameters": {
        "message": "=❌ Erro ao processar reunião\n\n**Erro:** {{ $('Send to FreelawSales').item.json.error }}\n\n**Detalhes:** {{ $('Send to FreelawSales').item.json.details || 'Sem detalhes adicionais' }}"
      },
      "id": "error-notification",
      "name": "Error Notification", 
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 400]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Send to FreelawSales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FreelawSales": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "freelaw-integration",
      "name": "freelaw-integration"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}